:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --third-color: #ffffff;
  --button-color: #f5f4fa;
  --footbar-background-color: #2f303a;
  --footbar-contact-color: rgba(255, 255, 255, 0.6);
  --border-color: #eeeeee;
  --border-line: #ececec;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
button {
  padding: 0;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color, #212121);
}

.main-background {
  background-color: var(--footbar-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
}
.main-background-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footbar-background-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-header {
  display: flex;
  align-items: center;
}
.bottom-border {
  border-bottom: 1px solid var(--border-line);
  padding-top: 24px;
  padding-bottom: 25px;
}
.menu {
  display: flex;
  margin-left: auto;
}
.item-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 50px;
}

.menu > .item:not(:last-child) {
  margin-right: 46px;
}
.menu > .link:not(:last-child) {
  margin-right: 50px;
  margin-left: 371px;
}

.contact {
  padding-right: 50px;
}
.header-icon {
  display: flex;
  fill: var(--secondary-color);
  margin-right: 10px;
}
.header-icon:hover {
  fill: var(--accent-color);
}
.index-background {
  text-align: center;
}

.card-set {
  display: flex;
  gap: 30px;
}
.button-set {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.padding-flex {
  padding-bottom: 0;
}

.index-item {
  flex-basis: calc((100% - 90px) / 4);
}
.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--third-color);
  margin-bottom: 30px;
}
.link-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-decoration: none;

  margin-right: 93px;
  color: var(--main-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color, #212121);
}

.nav-link:hover,
.nav-link:focus,
.accent {
  color: var(--accent-color);
}

.button-index {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--button-color);
  border-radius: 4px;
  border: 0;

  padding: 10px 41px 10px 42px;
}

button {
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: var(--accent-color);
  color: var(--third-color);
}
.buttons-category {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: var(--button-color);
  color: var(--main-color);
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
}

.text-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}

.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.card-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.project-item {
  border-bottom: 1px solid var(--border-color);
  flex-basis: calc((100% - 60px) / 3);
}
.profession {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}
.team-background {
  background-color: var(--button-color);
}

.team {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);

  margin-bottom: 50px;
}

.card {
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--third-color);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.cards-portfolio {
  max-width: 400px;
  margin: 0;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--third-color);
}

.card-image {
  max-width: 100%;
  height: auto;
}

.card-image.no-gap {
  display: block;
}
.our-team {
  display: flex;
  justify-content: center;
}
.workers-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.workers-profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-align: center;
  padding-bottom: 30px;
}

.contact-link {
  color: var(--secondary-color);
}

.accent {
  color: var(--accent-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.card-body {
  padding: 20px 24px;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-category {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.portfolio-nav {
  color: var(--accent-color);
}

.footbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background: var(--footbar-background-color);
}

.logo-word {
  color: var(--third-color);
}

.logo-font {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 20px;
}

.address a {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
  text-decoration: none;
  font-style: normal;
  display: block;
}

.mail a {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footbar-contact-color);
  text-decoration: underline;
  margin: 9px 0;
}

.telephone a {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footbar-contact-color);
}
.address a:hover,
.address a:focus {
  color: var(--accent-color);
}
